
.btn {
    border-radius: 25px;
    background: $colorprimary;
    background: linear-gradient(173deg, $colorsecondary 0%, $colorprimary 94%);
    color: $colorpolicesecondary;
    padding: 1rem;
    cursor: pointer;
    width: 250px;
    @include shadow ($colorbgsecondary);
    transition: 0.5s;
    &:hover {
        opacity: 0.7;
        @include shadow ($colorbgtertiary);
    }
    &>a:hover{
        text-decoration: none;
    }

}