
.cardmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 70px;
    border-radius: 15px;
    margin-bottom: 0.7rem;
    background-color: white;
    cursor: pointer;
    @include cardshadow($colorbgsecondary); 
    &__info {
        padding: 1rem;
    } 
    &__title{
        font-weight: 500;
    }
    &__description {
        font-size: 0.9rem;
        font-weight: 300;
        padding-top: 0.2rem;
    }
    &__price {
        align-self: flex-end;
        font-weight: 500;
        padding: 1rem;
    }
    &__add {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colortertiary;
        color: white;
        border-radius: 0 15px 15px 0;
        width: 15%;
        min-width: 55px;
        height: 100%;
        font-size: 1.2rem;
        // display: none;
 
    }
}

// MEDIA QUERIES 

@media screen and (min-width : $breakpointdesk){
    .cardmenu{
        align-items: flex-start;
        width: 95%;
        height: 100px;
}
}