
.card {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 250px; 
    background-color: white; 
    border-radius: 25px;
    cursor: pointer;
    @include shadow($colorbgsecondary);
    transition: 0.5s;
    &__header {
        position: relative;
    }
    &__new {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: $colortertiary;
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: darken($color: $colortertiary, $amount: 40);
    }
    img {
        width: 100%;
        height: 175px;
        border-radius: 25px 25px 0 0 ;
        object-fit: cover;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem 0rem 1rem;
    }
    &__text {
        display: flex;
        flex-direction: column;
        h3 {
            padding: 0.5rem 0;
        }
        p{
            font-size: 1.1rem;
        }
    }
    &__icon {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &__vide {
            position: absolute;
            font-size: 1.5rem;
            top: 5px;
            right: 5px;
        }
        &__plein {
            position: absolute;
            background: linear-gradient(173deg, $colorsecondary 0%, $colorprimary 94%);
            background-clip: text;
            color: transparent;
            font-size: 1.5rem;
            top: 5px;
            right: 5px;
            transform: scale(0);
            transition: all 0.8s ease-in-out;
        }
        &:hover {
            .card__icon__plein{
                transform: scale(1);
            }
            .card__icon__vide{
                color: transparent;
            }
        }
        
    }
    &:hover{
        box-shadow: 0 0 10px 0 $colorprimary;
    } 
}

// MEDIA QUERIES 

@media screen and (min-width : $breakpointdesk) {
    .card {
    width: 450px;
    height: 250px; 
    }
}