// CONTAINER

.container_index {
  @include flex(column, center, normal);
  width: 100%;
  max-width: $breakpointmax;
  margin: 0 auto;
}

// SECTION SEARCH

.search {
  @include flex(column, center, center);
  height: 45px;
  background-color: $colorbgsecondary;
  &__bar {
    display: flex;
    width: 170px;
    input {
      background-color: $colorbgsecondary;
      padding-left: 0.6rem;
      width: 150px;
    }
  }
}

// SECTION PRESENTATION

.presentation {
  background-color: $colorbgprimary;
  text-align: center;
  padding: 3rem;
  p {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

// SECTION FUNCTION

.function {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px repeat(3, 1fr) 60px;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  width: 100%;
  h2 {
    width: 335px;
  }
}

// SECTION RESTAURANT

.restaurant {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px repeat(4, 1fr) 60px;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-color: $colorbgprimary;
  h2 {
    width: 335px;
  }
}

// MEDIA QUERIES

@media screen and (min-width: $breakpointpad) {
  .restaurant {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px repeat(2, 1fr) 60px;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: 2rem;
    h2 {
      grid-column: 1 / span 2;
      @include center;
    }
  }
  .function {
    h2 {
      text-align: center;
    }
  }
}

@media screen and (min-width: $breakpointdesk) {
  .restaurant {
    row-gap: 4rem;
  }
  .function {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90px 1fr 60px;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    h2 {
      grid-column: 1 / span 3;
      @include center;
    }
  }
}

@media screen and (min-width: $breakpointmax) {
  .search {
    border-radius: 25px 25px 0 0;
  }
  .presentation {
    border-radius: 0 0 25px 25px;
  }
  .restaurant {
    border-radius: 25px 25px 0 0;
    h2 {
      @include center;
    }
  }
}
