
// CONTAINER 

.container_restaurant {
    display: flex;
    flex-direction: column;
}

// SECTION BANNER 

.banner img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

// SECTION MENU 

.blocs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: $colorbgprimary;
    border-radius: 45px 45px 0 0 ;
    padding: 2rem 1rem;
    margin-top: -3rem;
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title{
        font-family: "Shrikhand";
        font-weight: 300;
    }
    &__icon {
        padding-right: 1.6rem;
        align-self: center;
        font-size: 1.6rem;
    }
    &__btn{
         align-self: center;
         margin: 2rem 0;
    }
}


// SECTION STARTER, DISH, DESSERT 

.blocmenu{
    margin-top: 2rem;
    width: 100%;
    max-width: 500px;
    &__title {
        text-transform: uppercase;
        margin-bottom: 0.3rem;
    }
    &__tiret {
        width: 40px;
        border : 1.5px solid $colortertiary;
        margin-bottom: 1rem;
    }
}

// MEDIA QUERIES 

@media screen and (min-width : $breakpointdesk){
    .banner img{
        height: 350px;
    }
    .blocs {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .blocmenu {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 30%;
       &__tiret {
        width: 100px;
        }
    }

}