
// CONTAINER 

.container_restaurant {
    @include flex (column, normal, normal);

}

// SECTION BANNER 

.banner img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

// SECTION MENU 

.blocs {
    @include flex (column, center, normal);

}

.menu {
    @include flex (column, normal, normal);
    background-color: $colorbgprimary;
    border-radius: 45px 45px 0 0 ;
    padding: 2rem 1rem;
    margin-top: -3rem;
    &__header {
        @include flex (row, space-between, normal);
    }
    &__title{
        font-family: "Shrikhand";
        font-weight: 300;
    }
    &__btn{
         align-self: center;
         margin: 2rem 0;
    } 
    &__icon {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
            .menu__icon__plein{
                transform: scale(1);
            }
            .menu__icon__vide{
                color: transparent;
            }
        }
        &__vide {
            position: absolute;
            font-size: 1.5rem;
            
        }
        &__plein{
            position: absolute;
            font-size: 1.5rem;
            background: $colorbggradient;
            color: transparent;
            background-clip: text;
            transform: scale(0);
            transition: all 0.8s ease-in-out;
        }
    } 
}




// SECTION STARTER, DISH, DESSERT 

.blocmenu{
    margin-top: 2rem;
    width: 100%;
    max-width: 500px;
    &__title {
        text-transform: uppercase;
        margin-bottom: 0.3rem;
    }
    &__tiret {
        width: 40px;
        border : 1.5px solid $colortertiary;
        background-color: $colortertiary;
        margin-bottom: 1rem;
    }
}

// MEDIA QUERIES 

@media screen and (min-width : $breakpointdesk){
    .banner img{
        height: 350px;
    }
    .blocs {
        @include flex (row, space-around, flex-start);
    }
    .blocmenu {
        @include flex (column, normal, center);
       width: 30%;
       &__tiret {
        width: 100px;
        }
    }

}