
// SHADOW CARD 

@mixin shadow ($color){
    box-shadow: 5px 5px 10px $color;
}

@mixin shadowhover ($color){
    box-shadow: 5px 5px 10px $color;
}


@mixin center {
    justify-content: center;
    text-align: center;
}

