// VARIABLES COLORS 

$colorprimary : #9356DC ;
$colorsecondary : #FF79DA ; 
$colortertiary : #99E2D0 ;

$colorbgprimary : #f5f5f5;
$colorbgsecondary : #e7e7e7 ;
$colorbgtertiary : #2e2e2e;

$colorpolice : #111111;
$colorpolicesecondary : #fff;